.buttons__blockButton {
    display: flex;
    justify-content: center;
}

@media (max-width:550px) {
    .buttons__blockButton {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding-bottom: 15px;
    }
}


.buttons {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 128, 128);
    font-size: 15px;
    cursor: pointer;
    transition: 1s;

}

.buttons:hover {
    color: rgba(0, 128, 128, 0.485);

}

.buttons:disabled {
    color: rgb(166, 166, 166);

}